{%include 'header.html.twig'%}
<div id="adminpanel">
<div id="mp"><a href="http://localhost/wykopek/pub">Main page</a></div>
    <table>
        <tr>
            <th>Ban</th>
            <th>Post date</th>
            <th>Author</th>
            <th>Image</th>
        </tr>
    {% for post in postList %}
        <tr>
            <td><a href="'admin/remove/{{ post.getId() }}">Hide</a></td>
            <td>{{ post.getTimestamp() }}</td>
            <td>{{ post.getAuthorName() }}</td>
            <td><img src="img/{{ post.getFilename() }}.webp" class="thumbnail"></td>
        </tr>
    {% endfor %}
</div>
{%include 'footer.html.twig'%}