{% include 'header.html.twig' %}
<h1>Upload meme</h1>
<form action="" method="post" enctype="multipart/form-data">
    <label for="uploadedFile">
        Select file to upload:
    </label><br>
    <input type="file" name="uploadedFile" id="uploadedFileInput" required><br>
    <input type="submit" value="Send file" name="submit"><br>
</form>
{% include 'footer.html.twig' %}