{% include 'header.html.twig' %}

{% if user is defined %}
<div id="loggedUser">Zalogowano jako: {{ user.getName() }} </div>
{% endif %}
<div id="uploadsite">
    <div id="mp"><a href="http://localhost/wykopek/pub">Main page</a></div>
    <div id="lob"><a href="logout">Log out</a></div>
    <h1>{{ pageTitle|default("No site title") }}</h1>
<form action="" method="post" enctype="multipart/form-data">
    <label for="uploadedFile">
        Select file to upload:
    </label>
    <br>
    {% if user is defined %}
    <input type="hidden" name="userId" value="{{ user.getId() }}">
    {% endif %}
    <input type="file" name="uploadedFile" id="uploadedFileInput" required><br>
    <input type="submit" value="Send file" name="submit"><br>
</form>
</div>
{% include 'footer.html.twig' %}