* {
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(67, 198, 231);
}

div#pageContainer {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(84, 105, 129);
    margin: auto;
}

h1 {
    text-align: center;
}

div#post {
    background-color: rgb(22, 53, 138);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 75%;
    text-align: center;
    margin: auto;
    color: black;
}

div#post img{
    width: 100%;
    max-height: 50%;
    max-width: 50%;
    margin: auto;
}

div#loggedUser {
    text-align: right;
    font-weight: 1.5rem;
    height: 20px;
    background-color: rgb(120, 120, 228);
}

.kloc {
    background-color: rgb(55, 128, 103);
    width: 50px;
    height: 50px;
    float: left;
}