* {
    color: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(67, 198, 231);
}

div#pageContainer {
    background-color: aquamarine;
    border: 5px darkcyan solid;
    width: 1200px;
    margin: auto;
}

h1 {
    text-align: center;
}

div#post {
    background-color: rgb(52, 172, 156);
    padding: 20px;
    margin-bottom: 20px;
    width: 800px;
    text-align: center;
    margin: auto;
    color: black;
}

div#post img{
    width: 100%;
    max-height: 50%;
    max-width: 50%;
    margin: auto;
}

div#loggedUser {
    background-color: aquamarine;
    height: 50px;
    width: 200px;
    float: right;
    text-align: center;
    border: 3px darkcyan solid;
    margin: 10px;
    position: fixed;
    right: 10px;
    top: 10px;
}



.list td {  
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    text-align: center;
    border: 3px darkcyan solid;
    font-family: fantasy;
}

a {
    text-decoration: none;
}

#signin {
    background-color: aquamarine;
    border: 5px darkcyan solid;
    width: 800px;
    margin: auto;
}

#signin form {
    text-align: center;
    text-indent: 17px;
}

#mp {
    width: 100px;
    height: 20px;
    background-color: aquamarine;
    text-align: center;
    border: 3px darkcyan solid;
    font-family: fantasy;
    margin: auto;
    margin-top: 10px;
}

#signup {
    background-color: aquamarine;
    border: 5px darkcyan solid;
    width: 800px;
    margin: auto;
}

#signup form {
    text-align: center;
    text-indent: 17px;
}

#uploadsite {
    background-color: aquamarine;
    border: 5px darkcyan solid;
    width: 800px;
    margin: auto;
}

#uploadsite form {
    text-align: center;
    text-indent: 17px;
}

#lob {
    width: 100px;
    height: 20px;
    background-color: aquamarine;
    text-align: center;
    border: 3px darkcyan solid;
    font-family: fantasy;
    margin: auto;
    margin-top: 10px;
}

#adminpanel {
    background-color: aquamarine;
    border: 5px darkcyan solid;
    width: 800px;
    margin: auto;
}

#adminpanel img {
    width: 400px;
}

#adminpanel  th{
    background-color: aquamarine;
    border: 5px darkcyan solid;
}

#adminpanel  td{
    background-color: aquamarine;
    border: 5px darkcyan solid;
}